<a href="https://colab.research.google.com/github/2303a52051/23CSBTB39-40/blob/main/part1aiml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1 â€“ Implement Basic Data Structures using Numpy, Pandas

In [1]:
import numpy as np
import pandas as pd

list1=[1,2,3,4,5]
list2=[10,11,6,7,8]
print(list1)
print(list2)
print(type(list1))
print(type(list2))

[1, 2, 3, 4, 5]
[10, 11, 6, 7, 8]
<class 'list'>
<class 'list'>

In [4]:
str_list = "Welcome to Guru99"
age=50
pi=3.14
c_num=3j+10
my_list=["A","B","C","D"]
my_tuple=("A","B","C","D")
my_dict={"A":"a","B":"b","C":"c","D":"d"}
my_set={'A','B','C','D'}
print(my_list)
print(my_tuple)
print(my_dict)
print(my_set)

['A', 'B', 'C', 'D']
('A', 'B', 'C', 'D')
{'A': 'a', 'B': 'b', 'C': 'c', 'D': 'd'}
{'B', 'D', 'C', 'A'}